@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../resources/views/**/*.blade.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    /* Основна палітра */
    --color-accent: #CB9DF0;
    --color-body: #FAF5FF;
    --color-soul: #F0C1E1;
    --color-mind: #B3BFFF;

    /* Фонові / нейтральні */
    --color-surface: #FFF9BF;
    --color-surface-light: #FFF58A;
    --color-highlight: #FFBBE1;
    --color-peach: #FDDBBB;

    /* Текст */
    --color-text: #3d2e42;
    --color-text-muted: #8a7d92;

    --color-nav: #B3BFFF;
}

body {
    background: var(--color-body);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

#logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    padding: 5px;
}